.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  width: 100%;
}

.information-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: 0px auto;
  border-radius: 10px;
  padding: 15px;
  color: var(--text-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  line-height: 30px;
  word-spacing: 2px;
  background-color: var(--container-color);
  color: var(--text-color);
}

.information-section::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  background-color: transparent;
  margin-top: -20px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent var(--yellow-color) transparent;
}

@media (max-width: 800px) {
  .information-section {
    width: 90%;
  }
}

