.certification-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.certification-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 70%;
  background-color: var(--container-color);
  gap: 20px;
}

.certification-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.certification-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px;
  color: var(--text-color);
  text-align: start;
}

.certification-icon {
  font-size: 25px;
  color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.certification-icon::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: var(--first-color);
  bottom: -110%;
  transform: rotate(90deg);
}

.certification-description {
  margin: 5px 0px;
  color: var(--title-color);
  font-size: var(--title-font-size);
  font-weight: 600;
}

@media (max-width: 800px) {
  .certification-section {
    width: 90%;
  }
  .certification-container {
    flex-direction: column;
    align-items: center;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}
