.home-container {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.img-container {
  border: 1px solid #ddd;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  position: relative;
  animation: image 0.6s ease-out forwards;
}

.home-username {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid var(--title-color);
  width: 0;
  animation:
    typing 2s steps(15) forwards,
    blink 0.5s step-end infinite;
  margin-top: 10px;
  animation-fill-mode: forwards;
}

.home-username.done {
  border-right: none;
}

.home-description {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2.2s forwards;
}

.home__socials {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.home-social-link {
  color: var(--title-color);
  font-size: 1.8rem;
  transition: 0.3s;
}

.footer {
  color: white;
}

.home-social-link:hover,
.footer:hover {
  color: hsl(43, 100%, 68%);
}

.shapes {
  z-index: 0;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.shape {
  position: absolute;
}

.s1 {
  left: 2%;
  top: 10%;
}

.s2 {
  left: 18%;
  top: 30%;
}

.s3 {
  left: 5%;
  bottom: 30%;
}

.s4 {
  left: 2%;
  bottom: 10%;
}

.s5 {
  left: 44%;
  top: 10%;
}

.s6 {
  left: 36%;
  bottom: 10%;
}

.s7 {
  top: 20%;
  right: 25%;
}

.s8 {
  right: 24%;
  bottom: 20%;
}

.s9 {
  right: 2%;
  top: 10%;
}

.s10 {
  top: 45%;
  right: 11%;
}

.s11 {
  bottom: 10%;
  right: 2%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes image {
  0% {
    transform: translateY(80px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
