* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --first-color: hsl(353, 100%, 65%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --body-color: hsl(258, 60%, 98%);
  --yellow-color: hsl(43, 100%, 68%);

  --container-color: #fff;

  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.79rem;
}

.dark-theme {
  --first-color: hsl(353, 100%, 65%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --body-color: hsl(240, 15%, 10%);
  --container-color: hsl(240, 15%, 15%);
  --yellow-color: hsl(43, 100%, 68%);
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--body-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1 {
  margin: 30px 0px;
  font-size: 2.2rem;
  color: var(--title-color);
}

.centered-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 1.875rem;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

.btn:hover{
  background-color: hsl(353, 58%, 52%);
}
